/*En proceso*/
    
    body {
        background-color: rgb(231, 227, 227);
        
    }
  

  h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 40px;
  }

  div{
    text-align: center;
    
  }

  span{
    line-height: 5;
    text-transform: capitalize;
    font-family:monospace;
    
  }

  input { 
    background-color: white;

    border: 1px solid rgb(29, 28, 28);
    border-radius: 5px;
}

.linea {
  border-top: 2px solid black;
  height: 30px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}
